* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./newbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 1rem;

}

.leftContent {
  width: 25em; 
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topContainer span{
  color: #004aad;
  font-size: 3rem;
  font-weight: bold;
}

.logoutButton1 {
  margin-top: 1rem;
  width: 15em;
  height: 2rem;
  background-color: #004aad;
  border-radius: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.logoutButton1:hover {
  background-color: #003080; 
  transform: scale(1.05); 
}

.logoHolder img{
  width: 10em;
  height: 10em;
}

.headerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 20vh;
}

.headerTitle span{
  font-size: 2rem;
  font-weight: bold;
  color: #004aad;
  padding-top: 2rem;
  padding-bottom: 2rem;   
}

.rightPageContent{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for4wheels, .for2wheels, .forservice, .forpicndrop{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.for4wheels img{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  outline: 40px solid blue;
  margin-bottom: 5rem;
  position: relative;
}

.forpicndrop img{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  outline: 40px solid red;
  margin-bottom: 5rem;
  position: relative;
}
.forservice img{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  outline: 40px solid yellow;
  margin-bottom: 5rem;
  position: relative;
}
.for2wheels img{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  outline: 40px solid white;
  margin-bottom: 5rem;
  position: relative;
}

.buttonText1, .buttonText2, .buttonText3, .buttonText4{
  position: sticky;
  border-radius: 5px;
  padding: 10px;
  width: 15em;
  font-weight: bold;
  color: white;
}

.footerContent{
  height: 10vh;
}

.rightContent {
  width: 55em; 
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
}

.topSection{
  height: 15%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topSection .headerText{
  color: #004aad;
  font-size: 2rem;
  font-weight: bold;
}

.midSection2{
  height: 78%;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8em;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-right: 10em;
  padding-left: 10em;
}

.footerSection2{
  height: 7%;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSection2 .footerText2{
  color: rgba(0, 0, 0, 0.7);;
}

.registered{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: bold;
}



