.logInPage{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    background-image: url(newbackground.png);
    background-size: cover;
    color: #004aad;
}

.pageContainer{
    display: flex;
    flex-direction: row;
}

.pageIntro{
    width: 50%;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, .1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pageIntro span{
    font-size: 4rem;
    font-weight: bold;
    color: #012366;
}

.pageIntro img{
    width: 20em;
    height: 20em;
}

.logInForm{
    width: 50%;
    height: 100vh;
    background: white;
}

.logInHeader{
    height: 25vh;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logInHeader span{
    font-size: 1.5rem;

}

.formInput{
    display: flex;
    height: 74vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-field {
    margin: 15px 0; 
    width: 100%;    
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
  
.input-field label {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 8px; 
    text-align: left;  
    width: 100%;
}
  
  
.input-field input {
    width: 25rem;
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
  
.input-field input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
  
.input-field input::placeholder {
    font-style: italic;
    color: #8f8e8e;
}
  
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}
  
.log-in-button{
    background-color: #004aad;
    width: 25rem;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.log-in-button{
    background-color: #01468f; 
}

.signinGoogle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
.signinGoogleHeader {
    margin-bottom: 10px;
    color: #8f8e8e;
}
  
.signinGoogle button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    outline: none; 
}
  
.signinGoogle button img {
    width: 2rem;  
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}
  
.signinGoogle button:hover img {
    transform: scale(1.05);  
}